<% @menu_items = ['Me', 'Videos', 'Upload'] %>
<%= render partial: "shared/navbar" %>
<%= jwplayer_assets %>

<%= jwplayer(file: @videos.first.video_file.url)%>
<h4>Ruby lesson 1</h4>
<p>by RubySchool</p>



<%= @videos.inspect %>

